# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
app/frontend/old/node_modules
app/frontend/old/.pnp
app/frontend/old/.pnp.js

# testing
app/frontend/old/coverage

# production
app/frontend/old/build

# misc
app/frontend/old/.DS_Store
app/frontend/old/.env.local
app/frontend/old/.env.development.local
app/frontend/old/.env.test.local
app/frontend/old/.env.production.local

app/frontend/old/npm-debug.log*
app/frontend/old/yarn-debug.log*
app/frontend/old/yarn-error.log*
