.App {
  text-align: center;
  background-image: url('/public/stock_map.png');
}

.App-header {
	
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
